<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css" />
        {% endblock %}
        <title>Search aggregator - RVIP test</title>
    {% endblock %}
</head>
<body>

    <div id="content" class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <footer class="bs-docs-footer" role="contentinfo" id="footer">
        <div class="container">
            <p class="text-center">-</p>
        </div>
    </footer>

    {% block javascripts %}
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
